*{
    box-sizing: border-box;
}
/*two column layout*/
div#container{
    display: grid;
    grid-template-areas: 
    "top top" /*these are not good names, as thses are just for easyb understanding as we just started to learn*/
    /*these six names is like 2 columns and 3 rows, top top is two times bcoz i want it accross both the colums, if i just want it on one then just one time*/
    "left right" /* by going to inspect then on grid and ticking all the sections, you can see the names that you have given to the grid*/
    "bottom bottom";
    grid-template-columns: 1fr 3fr;  /*to set the size of the colums*/
    grid-template-rows: auto 1fr auto;
    gap:2rem;
}
header {
    grid-area: top;
    background-color: rgb(242, 235, 39);
    color: blueviolet;
}
main {
    grid-area: right;
}
#desktop{ 
    background-color: brown;
    color:yellow;
    padding: 1rem;

}

nav{/*this is the side bar */
    background-color: bisque;
    grid-area: left;
}

footer{
    grid-area: bottom; /*move content ariund by changing the grid area*/
    background-color: aquamarine;
    color: brown;
}

/*media queries at bottom of stylesheet*/
@media screen and (max-width:600px) {
    div#container{
        grid-template-areas: 
        "top"
        "left"/*you can interchange the position in order to get it abouve or below soemthing*/
        "right"
        "bottom"; /*another way of doing this is display:block;*/
        /*there is extrab spacce when we just want it to be one columns now so we give it the size of 1fr*/
        grid-template-columns: 1fr;
        gap:0rem;
    }
}

#desktop{
    display: none;
}